body {
    background: #000;
}

form {
    background: #ffa500;
    font-family: Garamond, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding: 100px;
    max-width: 800px;
    margin: 200px auto;
}

div {
    position: relative;
    margin: 0 0 2em 0;
}

label {
    font-size: 25px;
}

span {
    background: #ff8c00;
    position: absolute;
    display: block;
    padding: 10px;
    width: 200px;
    top: 0px;
    left: 80%;
    color: #fff;
    font-size: 20px;
}